node_modules
**/node_modules
dist
**/dist
.env
.env.local
*.log
.DS_Store
__pycache__
*.pyc
.venv
venv
.idea
.vscode
.catalyst
**/.catalyst
.catalystrc
catalyst-web-client-backup
catalyst-web-client/*
!catalyst-web-client/client-package.json
vendor
**/vendor
.env.production.local
scratch/
